/* home */
.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: 'Philosoper', serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #330000;
}

.button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background: #0090aa;
}

/* home 背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(IMG_8540.JPG), linear-gradient(#c9ffbf, #ffafbd);
  min-height: 100vh;
  /* background-color: #0bd; */
  /* background-blend-mode: hard-light; */
  background-blend-mode: luminosity;
}

#home .page-title {
  text-transform: none;
}
